header {
    display: flex;
    justify-content: center;
    padding: 28px 80px;
}

.identidade_visual_header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 119px;
}

.logo_header {
    width: 27px;
}

.nome_empresa {
    color: var(--cor_identidade);
    font-size: 18px;
    font-weight: 500;
}

.opcoes_menu {
    display: flex;
    align-items: center;
    gap: 36px;
    padding-right: 80px;
}

.link_menu {
    text-decoration: none;
    color: var(--cor_cinza);
    font-size: 16px;
    font-weight: 500;
}

.opcoes_botoes{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 380px;
}

.botao_entrar {
    padding: 10px 18px;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    font-weight: 500;
}

.botão_cadastrar {
    border: 8px solid var(--cor_vermelho);
    border-radius: 8px;
    padding: 10px 18px;
    background-color: var(--cor_vermelho);
    color: var(--cor_branco);
    font-size: 16px;
    font-weight: 500;
}
